@font-face {
  font-family: "Momo Trust Display";
  src: url(fonts/Momo_Trust_Display/MomoTrustDisplay-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: rgb(7, 2, 28);
}
header {
    display: flex;
    /* Isso fará com que o primeiro item (#logo) fique na esquerda e o segundo item (nav) na direita, com o máximo de espaço entre eles. */
    justify-content: space-between;
    /* Adicione um pouco de padding lateral para não colar nas bordas da tela. */
    padding: 10px 20px; 
    align-items: center; /* Opcional: Para centralizar verticalmente logo e nav se tiverem alturas diferentes. */
}
#logo {
    font-family: "Momo Trust Display", Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px 20px 0px 0px;
    color: rgb(255, 255, 255);
}
.rosa {
    color: rgb(204, 11, 130);
    font-size: 40px;
}
nav {
    display: flex;
}
.menu {
    display: flex;
    list-style: none;
    gap: 20px;
    margin: 0;
    padding: 0;
    align-items: center;
}
.menu a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 8px 16px;
    font-family: "Momo Trust Display", Verdana, Geneva, Tahoma, sans-serif;
}
.menu li {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(204, 11, 130);
    margin: 10px;
    padding: 5px;
    height: 20px;
    text-align: center;
    margin-top: 20px;
    border-radius: 2px;
}